version: 2
updates:
  - package-ecosystem: "gradle"
    directory: "/" # Location of package manifests
    schedule:
      interval: "weekly"
    ignore:
      - dependency-type: "all"
    allow:
      - dependency-name: "com.github.teamnewpipe:NewPipeExtractor"
